/* BOHRHOO：外套 */
.gridProduct.j-b-1A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/BOHRHOO/j-b-1B.JPG");
}
.gridProduct.j-b-2A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/BOHRHOO/j-b-2B.JPG");
}
.gridProduct.j-b-3A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/BOHRHOO/j-b-3B.JPG");
}
.gridProduct.j-b-4A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/BOHRHOO/j-b-4B.JPG");
}
.gridProduct.j-b-5A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/BOHRHOO/j-b-5B.JPG");
}
.gridProduct.j-b-6A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/BOHRHOO/j-b-6B.JPG");
}
/* FREAK：外套 */
.gridProduct.j-f-1A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/FREAK_S/j-f-1B.JPG");
}
.gridProduct.j-f-2A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/FREAK_S/j-f-2B.JPG");
}
.gridProduct.j-f-3A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/FREAK_S/j-f-3B.JPG");
}
.gridProduct.j-f-4A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/FREAK_S/j-f-4B.JPG");
}
.gridProduct.j-f-5A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/FREAK_S/j-f-5B.JPG");
}
.gridProduct.j-f-6A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/FREAK_S/j-f-6B.JPG");
}
/* NUTCIA：外套 */
.gridProduct.j-n-1A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/NAUTICA/j-n-1B.JPG");
}
.gridProduct.j-n-2A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/NAUTICA/j-n-2B.JPG");
}
.gridProduct.j-n-3A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/NAUTICA/j-n-3B.JPG");
}
.gridProduct.j-n-4A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/NAUTICA/j-n-4B.JPG");
}
.gridProduct.j-n-5A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/NAUTICA/j-n-5B.JPG");
}
.gridProduct.j-n-6A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/NAUTICA/j-n-6B.JPG");
}
/* PIN_SKBTS：外套 */
.gridProduct.j-p-1A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/PIN_SKTBS/j-p-1B.JPG");
}
.gridProduct.j-p-2A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/PIN_SKTBS/j-p-2B.JPG");
}
.gridProduct.j-p-3A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/PIN_SKTBS/j-p-3B.JPG");
}
.gridProduct.j-p-4A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/PIN_SKTBS/j-p-4B.JPG");
}
.gridProduct.j-p-5A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/PIN_SKTBS/j-p-5B.JPG");
}
.gridProduct.j-p-6A:hover .gridProductImg img{
    content: url("../images/products/2-jackets-6/PIN_SKTBS/j-p-6B.JPG");
}