/* BOHRHOO：褲裝 */
.gridProduct.p-b-1A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/BOHRHOO/p-b-1B.JPG");
}
.gridProduct.p-b-2A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/BOHRHOO/p-b-2B.JPG");
}
.gridProduct.p-b-3A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/BOHRHOO/p-b-3B.JPG");
}
.gridProduct.p-b-4A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/BOHRHOO/p-b-4B.JPG");
}
.gridProduct.p-b-5A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/BOHRHOO/p-b-5B.JPG");
}
.gridProduct.p-b-6A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/BOHRHOO/p-b-6B.JPG");
}
/* FREAK：褲裝 */
.gridProduct.p-f-1A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/FREAK_S/p-f-1B.JPG");
}
.gridProduct.p-f-2A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/FREAK_S/p-f-2B.JPG");
}
.gridProduct.p-f-3A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/FREAK_S/p-f-3B.JPG");
}
.gridProduct.p-f-4A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/FREAK_S/p-f-4B.JPG");
}
.gridProduct.p-f-5A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/FREAK_S/p-f-5B.JPG");
}
.gridProduct.p-f-6A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/FREAK_S/p-f-6B.JPG");
}
/* NUTCIA：褲裝 */
.gridProduct.p-n-1A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/NAUTICA/p-n-1B.JPG");
}
.gridProduct.p-n-2A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/NAUTICA/p-n-2B.JPG");
}
.gridProduct.p-n-3A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/NAUTICA/p-n-3B.JPG");
}
.gridProduct.p-n-4A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/NAUTICA/p-n-4B.JPG");
}
.gridProduct.p-n-5A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/NAUTICA/p-n-5B.JPG");
}
.gridProduct.p-n-6A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/NAUTICA/p-n-6B.JPG");
}
/* PIN_SKBTS：褲裝 */
.gridProduct.p-p-1A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/PIN_SKTBS/p-p-1B.JPG");
}
.gridProduct.p-p-2A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/PIN_SKTBS/p-p-2B.JPG");
}
.gridProduct.p-p-3A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/PIN_SKTBS/p-p-3B.JPG");
}
.gridProduct.p-p-4A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/PIN_SKTBS/p-p-4B.JPG");
}
.gridProduct.p-p-5A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/PIN_SKTBS/p-p-5B.JPG");
}
.gridProduct.p-p-6A:hover .gridProductImg img{
    content: url("../images/products/3-pants-6/PIN_SKTBS/p-p-6B.JPG");
}