@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap");
#sec4 {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
.sec4-inner {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 150px, 100% 0, 100% 100%, 0 100%);
    background-image: url("../images/toyBG/B01.svg");
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}
.productOuter1 {
    display: flex;
    flex-direction: column;
    width: 1050px;
    margin-top: 35vh;
    margin-bottom: 15vh;
    background-color: transparent;
}
.productTitle1_new {
    font-size: 16px;
}
.productTitle1 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
}
.productTitle1 span {
    margin-left: 30px;
}
.productFilter1 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5vh;
    background-color: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}
/* 篩選器 */
.productFilter1-1 {
    display: flex;
    height: 50px;
    flex-direction: row;
    align-items: center;
}
.productFilter1 input[type="radio"] {
    display: none;
}
.productFilter1 input[type="radio"] + label {
    display: inline-block;
    border: 0.5px solid #656565;
    border-radius: 15px;
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.productFilter1-1 span {
    margin: 0 20px;
}
.productFilter1 input[type="radio"]:checked + label {
    background-color: #3493fb;
}
.productFilter1-2 {
    display: flex;
    height: 50px;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}
#filter3 {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    width: 150px;
    height: 30px;
    padding: 0 20px;
    color: #656565;
    background-color: #ffffff;
    border: 0.5px solid #656565;
    border-radius: 3px;
}
.productFilter1-3 {
    display: flex;
    height: 50px;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}
.productFilter1-3 input::placeholder {
    text-align: center;
    vertical-align: middle;
}
#filter4,
#filter5 {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    width: 112px;
    height: 30px;
    padding: 0 20px;
    background-color: #ffffff;
    border: 0.5px solid #656565;
    border-radius: 3px;
    margin: 0 15px;
}
/* 篩選器送出 */
.productFilter1-4 {
    display: flex;
    height: 50px;
    flex-direction: row;
    align-items: center;
    margin-right: 20px;
}
#filter6 {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    width: 112px;
    height: 36px;
    color: #ffffff;
    background-color: #3493fb;
    border: 2px solid #3493fb;
    border-radius: 3px;
}
#filter6:hover {
    color: #3493fb;
    background-color: #ffffff;
}
#filter6 img {
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
#filter6:hover img {
    content: url("../images/icon/filter_blue.svg");
}
/* 商品區 */
.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 初始佈局，一列有4件商品 */
    grid-gap: 10px; /* 商品間的間隔 */
}
.gridProduct {
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    background-color: rgba(200, 200, 200, 0.5);
    backdrop-filter: blur(5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
    /* 商品樣式設定 */
}
.gridProductImg,
.gridProductName,
.gridProductPrice,
.gridProductStar,
.gridProductSales {
    width: 200px;
    align-self: center;
}
.gridProductImg img {
    width: 200px;
    height: 210px;
    margin: 0 auto;
    margin-top: 20px;
}
.gridProductName {
    width: 200px;
    font-size: 14px;
    height: 40px;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.gridProductPrice {
    width: 200px;
    font-size: 14px;
    height: 20px;
    margin-bottom: 10px;
}
.priceNum {
    margin: 0 10px;
    font-size: 16px;
    font-size: large;
    color: #3493fb;
}
.gridProductStar {
    width: 200px;
    align-items: center;
    justify-content: space-between;
    height: 30px;
}
.gridProductStar img {
    width: 130px;
    height: 24px;
}
.gridProductSales {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    height: 24px;
    font-size: 13px;
    color: #656565;
}
/* RWD：product1 */
@media (max-width: 1200px) {
    .productOuter1 {
        width: 800px;
    }
    .productFilter1 {
        flex-direction: column;
        align-items: end;
    }
    .product-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 850px) {
    .productOuter1 {
        width: 500px;
    }
    .product-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    .productOuter1 {
        width: 300px;
    }
    .filterNT {
        display: none;
    }
    .product-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .gridProductImg,
    .gridProductName,
    .gridProductPrice,
    .gridProductStar,
    .gridProductSales {
        width: 220px;
    }
    .gridProductImg img {
        width: 220px;
        height: 230px;
    }
}
/* 用於尺寸篩選器：隐藏div區塊 */
.hide {
    display: none;
}
.gridProductImg.pop-1A img:hover {
    content: url("../images/toystory/T01B.JPG");
}
.gridProductImg.pop-2A img:hover {
    content: url("../images/toystory/T02B.JPG");
}
.gridProductImg.pop-3A img:hover {
    content: url("../images/toystory/T03B.JPG");
}
.gridProductImg.pop-4A img:hover {
    content: url("../images/toystory/T04B.JPG");
}
.gridProductImg.pop-5A img:hover {
    content: url("../images/toystory/T05B.JPG");
}
.gridProductImg.pop-6A img:hover {
    content: url("../images/toystory/T06B.JPG");
}
.gridProductImg.pop-7A img:hover {
    content: url("../images/toystory/T07B.JPG");
}
.gridProductImg.pop-8A img:hover {
    content: url("../images/toystory/T08B.JPG");
}
.gridProductImg.pop-9A img:hover {
    content: url("../images/toystory/T09B.JPG");
}
.gridProductImg.pop-10A img:hover {
    content: url("../images/toystory/T10B.JPG");
}
.gridProductImg.pop-11A img:hover {
    content: url("../images/toystory/T11B.JPG");
}
.gridProductImg.pop-12A img:hover {
    content: url("../images/toystory/T12B.JPG");
}
.gridProductImg.pop-13A img:hover {
    content: url("../images/toystory/T13B.JPG");
}
.gridProductImg.pop-14A img:hover {
    content: url("../images/toystory/T14B.JPG");
}
.gridProductImg.pop-15A img:hover {
    content: url("../images/toystory/T15B.JPG");
}
.gridProductImg.pop-16A img:hover {
    content: url("../images/toystory/T16B.JPG");
}
