@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&family=Roboto:ital,wght@0,100;0,400;1,400&display=swap");
/* ---------- 以下為 登入/註冊 區塊 ---------- */
#sign .sign_outer {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    border: 0;
    padding: 0;
}
.sign_inner {
    display: block;
    text-align: center;
    width: 500px;
    height: 550px;
    border: 1px solid rgba(122, 122, 122, 0.5);
    padding: 0;
    background-color: #ffffff;
    margin-top: 9vh;
    margin-bottom: 10vh;
    line-height: 1;
}
.sign_title {
    display: flex;
    justify-content: center;
    width: 60%;
    margin: 6% auto;
}
.sign-in_title {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 17px;
    height: 50px;
    width: 50%;
    background-color: #ffffff;
    color: #000000;
    border: 0;
    padding: 0;
    margin: 0;
    border-bottom: 3px solid #656565;
}
.sign-up_title {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 17px;
    height: 50px;
    width: 50%;
    background-color: #ffffff;
    color: #656565;
    border: 0;
    padding: 0;
    margin: 0;
    border-bottom: 3px solid #ededed;
}
.submit_outer {
    text-align: left;
    width: 60%;
    padding-left: 20%;
}
.submit_inner {
    width: 100%;
    margin: 0;
    margin-top: 6%;
}
.submit_inner input[type="email"] {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 15px;
    width: 100%;
    height: 26px;
    border: 0.5px solid #656565;
    border-radius: 3px;
}
.submit_inner input[type="text"] {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 15px;
    width: 100%;
    height: 26px;
    border: 0.5px solid #656565;
    border-radius: 3px;
}
.submit_inner input[type="password"] {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 15px;
    width: 100%;
    height: 26px;
    border: 0.5px solid #656565;
    border-radius: 3px;
}
.submit_inner input[type="tel"] {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 15px;
    width: 100%;
    height: 26px;
    border: 0.5px solid #656565;
    border-radius: 3px;
}
.sign_height {
    margin: 10px 0;
}
.forget_outer {
    text-align: right;
    margin-right: 20%;
    margin-top: 3%;
}
.forget_inner {
    color: #656565;
}
.forget_inner:hover {
    color: #3493fb;
}
.submitBtn {
    text-align: center;
    width: 60%;
    margin: 5% auto;
}
.submitBtn input {
    font-family: "Noto Sans TC", sans-serif;
    font-size: 15px;
    width: 100%;
    height: 36px;
    background-color: #3493fb;
    border-radius: 3px;
    border: 2px solid #3493fb;
    color: #ffffff;
    font-size: 1em;
}
.submitBtn input:hover {
    background-color: #ffffff;
    color: #3493fb;
}
.text_community0 {
    display: block;
    width: 60%;
    height: 1px;
    background-color: antiquewhite;
    border-top: 1px solid rgba(122, 122, 122, 0.5);
    margin: 5% 20%;
}
.text_outer {
    display: block;
    font-size: 13px;
    height: 20vh;
    margin: 0 auto;
}
.text_community1 {
    margin: 0 0 4% 0;
}
.text_community3 {
    margin: 4% 0 0 0;
}
.text_community4 {
    margin: 3% 0 0 0;
}
.text_community3-1,
.text_community4-1 {
    color: #656565;
}
.text_community3-1:hover {
    color: #3493fb;
}
.text_community4-1:hover {
    color: #3493fb;
}
.text_icon_outer ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.community_li {
    margin: 0 4%;
}
.sign-up {
    display: block;
    height: 60vh;
    margin-top: calc(20vh - 110px);
    margin-bottom: calc(20vh - 110px);
    margin-left: 1vw;
    border: 1px solid rgba(122, 122, 122, 0.5);
    padding: 0;
    width: 25vw;
    background-color: #ffffff;
    line-height: 1;
    text-align: center;
}
@media (max-width: 500px) {
    .body {
        font-size: 14px;
    }
    .sign_inner {
        width: 400px;
        height: 500px;
        margin: 11vh 0;
    }
}
@media (max-width: 367px) {
    .body {
        font-size: 13px;
    }
    .sign_inner {
        width: 90vw;
        height: 500px;
        margin: 11vh 0;
    }
    .sign_title {
        width: 80%;
    }
    .submit_outer{
        width: 80%;
        padding-left: 10%;
    }
    .submitBtn {
        width: 80%;
    }
    .text_community0 {
        width: 80%;
        margin: 10% 10%;
    }
}
/* ---------- 以上為 登入/註冊 區塊 ---------- */
