/* BOHRHOO：上衣 */
.gridProduct.t-b-1A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/BOHRHOO/t-b-1B.JPG");
}
.gridProduct.t-b-2A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/BOHRHOO/t-b-2B.JPG");
}
.gridProduct.t-b-3A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/BOHRHOO/t-b-3B.JPG");
}
.gridProduct.t-b-4A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/BOHRHOO/t-b-4B.JPG");
}
.gridProduct.t-b-5A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/BOHRHOO/t-b-5B.JPG");
}
.gridProduct.t-b-6A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/BOHRHOO/t-b-6B.JPG");
}
/* FREAK：上衣 */
.gridProduct.t-f-1A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/FREAK_S/t-f-1B.JPG");
}
.gridProduct.t-f-2A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/FREAK_S/t-f-2B.JPG");
}
.gridProduct.t-f-3A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/FREAK_S/t-f-3B.JPG");
}
.gridProduct.t-f-4A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/FREAK_S/t-f-4B.JPG");
}
.gridProduct.t-f-5A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/FREAK_S/t-f-5B.JPG");
}
.gridProduct.t-f-6A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/FREAK_S/t-f-6B.JPG");
}
/* NUTCIA：上衣 */
.gridProduct.t-n-1A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/NAUTICA/t-n-1B.JPG");
}
.gridProduct.t-n-2A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/NAUTICA/t-n-2B.JPG");
}
.gridProduct.t-n-3A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/NAUTICA/t-n-3B.JPG");
}
.gridProduct.t-n-4A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/NAUTICA/t-n-4B.JPG");
}
.gridProduct.t-n-5A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/NAUTICA/t-n-5B.JPG");
}
.gridProduct.t-n-6A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/NAUTICA/t-n-6B.JPG");
}
/* PIN_SKBTS：上衣 */
.gridProduct.t-p-1A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/PIN_SKTBS/t-p-1B.JPG");
}
.gridProduct.t-p-2A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/PIN_SKTBS/t-p-2B.JPG");
}
.gridProduct.t-p-3A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/PIN_SKTBS/t-p-3B.JPG");
}
.gridProduct.t-p-4A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/PIN_SKTBS/t-p-4B.JPG");
}
.gridProduct.t-p-5A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/PIN_SKTBS/t-p-5B.JPG");
}
.gridProduct.t-p-6A:hover .gridProductImg img{
    content: url("../images/products/1-tops-6/PIN_SKTBS/t-p-6B.JPG");
}